@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0
}

p {
    color: #999;
}

.main-outer {
    display: inline-block;
    position: relative;
    width: 600px;
    max-width: 100%;
    border-left: 1px solid rgb(230, 236, 240);
    border-right: 1px solid rgb(230, 236, 240);
    font-family: 'Roboto', sans-serif;
}

.homeHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(230, 236, 240);
    border-bottom: 1px solid rgb(230, 236, 240); 
    padding: 20px;
}

.homeHeading img {
    width: 20px;
    height: 20px;
    margin-left: auto;
    align-items: baseline;
    color: rgb(29, 161, 242);
}

.whatsHappening {
    padding: 10px;
    border-bottom: 1px solid rgb(230, 236, 240);
}

.whatsHappening-top {
    display: flex;
    align-items: center;
}

.whatsHappening-top img {
    width: 60px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
}

.whatsHappening-bottom {
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.whatsHappening-bottom .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 30%;
    margin-left: 4.4rem;
}

.whatsHappening-bottom img {
    width: 25px;
}

.whatsHappening-bottom .btn {
    text-align: right;
    padding: 15px 25px;
    margin: 0;
    box-shadow: none;
}



