@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.post-container {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border-bottom: 1px solid rgb(230, 236, 240);
}

.post-container img {
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-content p {
    margin: 5px 0;
}

.post-icons {
    display: flex;
    justify-content: space-between;
}

.post-icons img {
    width: 20px;
}

img.post-image {
    max-width: 100%;
    width: 100%;
    display: block;
    border-radius: 10px;
    margin: 10px 0;
}

h4 {
    display: inline-block;
}

.author-at::after {
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #999;
    vertical-align: middle;
    margin: 0 5px;
}

.author-at,
.timeLapse {
    font-size: 1rem;
    color: #999;
    vertical-align: middle;
    font-weight: 400;
    margin-left: 5px;   
}

p{
    display: inline-block;
} 


.hashTag {
    display: inline-block;
    color: rgb(29, 161, 242);
    font-weight: 400;;
}